/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 700 */

/* .reem-kufi-fun-body {
  font-family: "Reem Kufi Fun", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

body {
  font-family: "Reem Kufi Fun", "Lato", "Roboto", sans-serif;
  /* font-optical-sizing: auto; */
  /* font-weight: <weight>;
  font-style: normal; */
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 16px;
}

.main-content {
  /* border: 3px solid red; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  width: 100%;
}

/* ---------- Hero ---------- */
/* ----- Text container ----- */
h1 {
  font-size: 64px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.subheader {
  font-size: 28px;
  margin: 0;
  text-align: center;
}

.hero-section .text-container {
  margin-bottom: 20px;
}

/* ---------- Pokemon display ---------- */
.pokemon-display .image-container {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sprite-container {
  width: 50%;
}

.image-container img {
  width: 50%;
}

.image-container .pokemon-sprite {
  width: 100%;
}

.sprite-container p {
  text-align: center;
  margin: 0;
}

/* name */
.pokemon-name {
  text-align: center;
  font-weight: 600;
}

/* ----- Form ----- */
#form {
  /* border: 3px solid blue; */
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

label[for="searchInput"] {
  /* border: 3px solid red; */
  font-size: 12px;
  margin-bottom: 4px;
}

#searchInput, button {
  font-family: "Reem Kufi Fun", "Lato", "Roboto", sans-serif;
}

#searchInput {
  border: 2px solid #000;
  border-radius: 8px;
  height: 32px;
  padding-left: 20px;
  margin-bottom: 20px;
}

#searchInput::placeholder {
  color: #969696;
}

button[type="submit"] {
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #f04038;
  color: #fff;
  height: 40px;
  font-weight: 600;
  max-width: 228px;
  width: 75%;
  margin: 0 auto;
  cursor: pointer;
  transition: transform 0.2s;
}

button[type="submit"]:hover {
  transform: scale(1.04);
}

/* ****** NEXT STEPS ****** */
/* START WITH MOBILE */
/* 1. X style h1 and subheader */
/* 2. X Add image of pikachu */
/* 3. Style form */
/* 4. Add info on breakpoints */