/* https://stackoverflow.com/questions/16907518/css-input-with-width-100-goes-outside-parents-bound/16907625 */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Search form */
.pokedex-form {
  /* border: 3px solid black; */
  text-align: center;
  width: 100%;
  padding: 1rem;
}

#searchInput {
  margin-bottom: 1rem;
  width: 100%;
  height: 2.5rem;
  border-radius: 10px;
  border-style: solid;
  border-width: 1px;
  text-align: center;
}

/* https://stackoverflow.com/questions/1457849/how-to-remove-the-border-highlight-on-an-input-text-element?rq=1 */
#searchInput:focus {
  outline: none;
}

#searchBtn {
  border-radius: 30px;
  padding: 0.7rem;
  border: none;
  background-color: #e73f33;
  color: white;
  font-weight:700
}

/* Display */
#displayDiv {
  /* border: 3px solid black; */
  position: relative;
  text-align: center;
  /* overflow: hidden; */
}

#pokemonImg {
  /* border: 3px solid orange; */
  width: 80%;
}

#pokemonId {
  font-size: 2rem;
  margin-right: 0.5rem;
}

#pokemonName {
  font-size: 2rem;
}

#pokemonStats {
  list-style-type: none;
}

/* background colors for pokemon types */
.bug {
  background-color: #9bbb31;
}

.dark {
  background-color: #585761;
}

.dragon {
  background-color: #016bc7;
}

.electric {
  background-color: #fbd84f;
}

.fairy {
  background-color: #eb93e4;
}

.fighting {
  background-color: #d7425f;
}

.fire {
  background-color: #ffa54d;
}

.flying {
  background-color: #98bcec;
}

.ghost {
  background-color: #4e6fbc;
}

.grass {
  background-color: #69bd5a;
}

.ground {
  background-color: #de7d4d;
}

.ice {
  background-color: #74d0c2;
}

.normal {
  background-color: #9fa29f;
}

.poison {
  background-color: #b067cf;
}

.psychic {
  background-color: #fe8581;
}

.rock {
  background-color: #cfbc8b;
}

.steel {
  background-color: #4f95a3;
}

.water {
  background-color: #329fde;
}
