/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 700 */

/* .reem-kufi-fun-body {
  font-family: "Reem Kufi Fun", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */

/* breakpoints */
	/* --sm-mobile: 320px;
	--lg-mobile: 576px;
	--sm-tablet: 767px;
	--lg-tablet: 992px;
	--sm-desktop: 1200px;
	--lg-desktop: 1400px; */

body {
  font-family: "Reem Kufi Fun", "Lato", "Roboto", sans-serif;
  /* font-optical-sizing: auto; */
  /* font-weight: <weight>;
  font-style: normal; */
  position: relative;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* padding: 16px; */
  padding-left: 16px;
  padding-right: 16px;
  /* overflow: hidden; */
}

.main-content {
  /* border: 3px solid red; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  max-width: 400px;
  width: 100%;
  z-index: 1;
}

/* ---------- Hero ---------- */
/* ----- Text container ----- */
.hero-section {
  margin-bottom: 20px;
}

h1 {
  font-size: 64px;
  font-weight: bold;
  margin: 0;
  text-align: center;
}

.subheader {
  font-size: 28px;
  margin: 0;
  text-align: center;
}

.hero-section .text-container {
  margin-bottom: 0;
}

/* ---------- Pokemon display ---------- */
/* hide desktop version of pikachu */
.image-container-desktop {
  display: none;
}

.pokemon-display .image-container {
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sprite-container {
  width: 50%;
  position: relative;
}

.image-container img {
  width: 50%;
}

.image-container .pokemon-sprite {
  width: 100%;
  margin-bottom: 16px;
  cursor: pointer;
}

.sprite-container p {
  text-align: center;
  margin: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

/* name */
.pokemon-name {
  text-align: center;
  font-size: 48px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 20px;
  line-height: 1.2;
}

/* type */
.pokemon-type {
  text-align: center;
  font-weight: 900;
  font-size: 24px;
  /* margin-bottom: 0; */
}

/* flavor text */
.flavor-text {
  margin-top: 0;
  margin-bottom: 0;
}

.pokemon-display .text-container {
  margin-bottom: 28px;
}

/* ----- Form ----- */
#form {
  /* border: 3px solid blue; */
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0 auto;
}

label[for="searchInput"] {
  /* border: 3px solid red; */
  font-size: 12px;
  margin-bottom: 4px;
}

label.error {
  color: red;
}

#searchInput, button {
  font-family: "Reem Kufi Fun", "Lato", "Roboto", sans-serif;
}

#searchInput {
  border: 2px solid #000;
  border-radius: 8px;
  height: 32px;
  padding-left: 20px;
  margin-bottom: 20px;
}

#searchInput::placeholder {
  color: #969696;
}

button[type="submit"] {
  border: 2px solid #000;
  border-radius: 20px;
  background-color: #f04038;
  color: #fff;
  height: 40px;
  font-weight: 600;
  max-width: 228px;
  width: 75%;
  margin: 0 auto;
  cursor: pointer;
  transition: transform 0.2s;
}

button[type="submit"]:hover {
  transform: scale(1.04);
}

button[type="submit"]:active {
  transform: scale(1.01);
}

.search-another {
  text-align: left;
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
  margin-bottom: 0;
}


/* ---------- Rectangles for type colors ---------- */
.type-color-1 {
  /* background-color: yellow; */
  width: 700px;
  height: 500px;
  position: fixed;
  /* left: 32%;
  top: -26%; */
  transform: rotate(38deg);
  opacity: 0.5;
  right: 100%;
  bottom: -14%;
}

.type-color-2 {
  /* background-color: blue; */
  width: 700px;
  height: 500px;
  position: fixed;
  /* bottom: -26%;
  right: 32%; */
  transform: rotate(38deg);
  opacity: 0.5;
  top: -15%;
}

/* ---------- Media queries ---------- */
@media only screen and (min-width: 576px) {
  .type-color-1, .type-color-2 {
    width: 1000px;
  }

  .type-color-1 {
    /* bottom: -8%; */
    bottom: -2%;
    right: 81%;
  }

  .type-color-2 {
    top: -3%;
  }
}

@media only screen and (min-width: 992px) {
  body {
    padding-left: 32px;
    padding-right: 32px;
  }

  .main-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 1100px;
    align-items: center;
    grid-column-gap: 64px;
  }

  .subheader {
    margin-bottom: 20px;
  }

  /* h1 {
    text-align: left;
  }

  .subheader {
    text-align: left;
  } */

  /* waving pikachu will stay and not be used for displaying results */
  .image-container-desktop {
    display: block;
    width: 50%;
    /* border: 3px solid red; */
    /* display: flex;
    align-items: center;
    justify-content: center; */
    margin: 0 auto;
  }

  #pikachu-waving-desktop {
    width: 100%;
  }

  /* pokemon display */
  #pokemon-display {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }

  #pokemon-display .text-container {
    margin-bottom: 0;
  }

  /* pikachu waving (for mobile versions) */
  #pikachu-waving {
    display: none;
  }

  /* form */
  #form {
    min-height: 156px;
    justify-content: end;
  }

  /* type color rectangles */
  .type-color-1 {
    background-color: #f04038;
    /* top: 2%; */
    opacity: 1;
    width: 2000px;
    /* top: -20%; */
    bottom: 120%;
    right: -38%;

  }

  .type-color-2 {
    width: 136%;
    height: 100%;
    right: 60%;
    top: 84%;
  }
}

@media only screen and (min-width: 1200px) {
  h1, .subheader {
    text-align: left;
  }

  .main-content {
    grid-column-gap: 88px;
  }

  .type-color-1 {
    /* top: -8%; */
    /* left: 24%; */
    /* bottom: 89%;
    left: 10%; */
    /* width: 3000px;
    right: -75%;
    bottom: 100%; */
    width: 136%;
    bottom: 103%;
    right: -28%;
  }

  .type-color-2 {
    /* right: 24%; */
    right: 60%;
    bottom: -82%;
  }
}



@media only screen and (min-width: 1700px) {
  .type-color-1 {
    /* width: 100%; */
    /* top: -20%; */
    /* left: 42%; */
  }

  .type-color-2 {
    right: 52%;
    width: 150%;
    height: 100%;
    bottom: -25%;
  }
}